@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');

@import './scss/reset';
@import './scss/variables';
@import './scss/base';
@import './scss/mobilenav';
@import './scss/fixedmenu';
@import './scss/map';

@import './scss/newscss/staticmenu.scss';
@import './scss/newscss/newsletter.scss';
@import './scss/newscss/hero.scss';
@import './scss/newscss/investments.scss';
@import './scss/newscss/team.scss';
@import './scss/newscss/rent.scss';
@import './scss/newscss/about.scss';
@import './scss/newscss/realizations.scss';

 @import './scss/uiux';
@import './scss/footer';
@import 'bootstrap-4-grid';

img{max-width: 100%}
html, body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;

    overflow-x : hidden!important;
}


.no-wrap{
    white-space: nowrap;
    @media  (max-width :400px){
        white-space: pre-wrap;
    }
}
.cp{
    cursor: pointer;
    &:hover{
        opacity: .9;
    }
}
section{
    // min-height: 100vh;
    &:nth-child(odd){
        background:  #fff;
    }
}

.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pb-2{
    padding-bottom: 64px;
    margin-bottom: 64px;
}

.cont{
    width: 1200px;
    max-width: 100vw;
}
.c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.py{
    padding-top: 64px;
    padding-bottom: 64px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.mb-24{
    margin-bottom: 24px;
}


.btn-fix{
    //  display: none!important;
    
    transition: all ease-in-out .3s;
         display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        text-align: center;
        &:hover{
            background: $secondary!important;
            color: $primary;
        }
    }
    .up-arrow{
        transition: transform ease-in-out .3s;
    }



    

    a{
        
        color: inherit;
    }

    .swiper-slide::after{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 200px;
        content: '';
        background: linear-gradient(0deg, rgba(black,0.9) 0%, rgba(#fff,0) 100%);

        z-index: 1;
    }
    