#gallery{
    padding-top: 96px;
    padding-bottom: 80px;

}
.choices{
    margin-top: 24px;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    .gallery-choice{
    position: relative;
    font-weight: 400;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        &::after{
            position: absolute;
            content: '';
            bottom: -8px;
            transform: translateX(-50%);
            left: 50%;
            width: 0%;
            height: 3px;
            background: $primary;
            transition: width ease-in-out .3s;
        }
    }
.active{
    font-weight: 700;
    color: $primary;
    position: relative;
    &::after{
        
        width: 100%;
        
    }
}


}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @media (min-width : 776px) {
        grid-template-columns: 1fr 1fr;
        
    }
    @media (min-width : 992px) {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    &__box{
        cursor: pointer;
        width: 100%;
        padding-top: 75%;
        min-height: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
            transition : all ease-in-out .3s;
            &:hover{
                width: 110%;
                height: 110%;
            }
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;           
            object-fit: cover;
        }
    }
}
.center-btn{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;

    margin-top: 40px;
    background: $primary;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    border: inherit;
    color: white;
    border-radius: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    cursor: pointer;
    transition: all ease-in-out .3s ;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
    &:focus{
        border-radius: 50px;
        outline: none;
    }
    &:hover{
        color: $primary;
        background: $secondary;
    }
        .text{
            width: 150px;
            
        }
}
.hide-img{
    transform: translateX(-100vw);
}
.grid__box{
    img{

    }
}
.btn-g-fix{
    box-sizing: border-box;
    transition: all ease-in-out .3s;
    border: solid $secondary 2px;
    &:hover{
        border: solid $primary 2px;

    }
}

