header{
    display: flex;
    line-height: 70px;
    text-transform: uppercase;
    nav{
        display: flex;
        justify-content: space-between;
        ul{
            
            display: flex;
            li{
                a{
                    padding-left: 15px;
                    padding-right: 15px;
                    display: block;
                    &:hover{
                        background: #ddd;
                    }
                }
            }
        }   

    }
}