#info{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    font-weight : 700;
    width: 100vw;
    animation-name: info;
    animation-duration: 5s;
    background : white;
}
@keyframes info{
    
}