#map{
    width: 100vw;
    height: 0px;
    padding-top: 554px / 1440px * 100%;
    background: $primary;
    margin-bottom: 54px;
    margin-top: 37px;   
    overflow: hidden;
    position: relative;
    opacity: 1;
    #googlemap{
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;    
    }
}