
.h1{
//styleName: Title;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: left;
}
.p{
//styleName: body;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
#onas{
    padding-top: 0px;
    background: white;
    @media (min-width : 768px) {
        padding-top: 120px;
        
    }
    .grid{
        display: flex;
        min-height: 100px;
        
        flex-direction: column-reverse;
        @media (min-width : 768px) {
            flex-direction: row; 
        }
        &__left{
            
            // @media (max-width : 1200px) {
            //     display: none!important;
            // }
            // order: 2;
            width : 384px;
            position: relative;
            margin-right: 96px;
            display: flex;
            flex-direction: column;

            @media (max-width : 768px) {
                overflow: hidden;
                width: 100%; 
            }
            .onas-img-1{
                
                max-width: 100%;
                width: 384px;
                height: 560px;
                @media (max-width : 768px) {
                    align-self: center; 
                }
            }
            &::after{
                @media (max-width : 768px) {
                    z-index: 1;
                }
                
                position: absolute;
                content: '';
                width: 316px;
                height: 349px;
                background: url('./assets/desktop/pattern.svg')center center;
                background-size: cover;
                top: 0;
                right: 0;
                transform: translate(45px, -120px);
            }
        }
        &__right{
            flex : 1;
            
        }
    }
}
.onas-img-2{
    margin-top: 56px;
    @media (max-width : 768px) {
        display: none; 
    }
}

img{
    max-width: 100%;
}