.test-div{
    display: grid;
    position: fixed;
    right:  20px;
    bottom: 20px;
    background: #2c2c2c;
    color: #ddd;
    height: 70px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: flex-start;
    width: 200px;

}